certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cryptography==2.9.2
decorator==4.4.2
future==0.18.2
idna==2.9
imageio==2.8.0
imageio-ffmpeg==0.4.2
moviepy==1.0.3
numpy==1.18.5
Pillow==7.1.2
proglog==0.1.9
pycparser==2.20
pyTelegramBotAPI==3.7.1
python-telegram-bot==12.7
pytube==9.6.0
pytube3==9.6.4
requests==2.23.0
six==1.15.0
telegram==0.0.1
tornado==6.0.4
tqdm==4.46.1
typing-extensions==3.7.4.2
urllib3==1.25.9
wincertstore==0.2
youtube-dl==2020.6.6
